# Ignore node_modules directory
node_modules/

# Ignore .env file (containing sensitive information)
.env

# Ignore log files
*.log

# Ignore editor temporary files
.vscode/
.idea/

# Ignore npm debugging logs
npm-debug.log*

# Ignore built files
dist/
build/

# Ignore dependency lock files
package-lock.json
yarn.lock
